#main_windows {
  display: flex;
  height: 90vh;
  box-sizing: content-box;
  border-radius: 2em;
  gap: 13px;
  background-color: aliceblue;
  font-size: 15pt;

}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: aliceblue;
  font-size: 15pt;
  top: 10px;
}

button {
  position: absolute;
  margin: 1em auto;
  width: 8em;
  height: 3em;
  border-radius: 2em;
  right: 7vw;
  top: 5vw;
  background-color: lawngreen;
  font-size: 10pt
}

button:hover {
  background-color: green;
}

.errorlist {
  position: absolute;
  bottom: 10vh;
  left: 4vw;
  color: red;
  font-size: 17pt;
  border-radius: 2em;
}


.ace_gutter > div{
    background-color: #05688d;

}

.django-ace-widget > div  {
    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1em;
    background-color: #b3e3df;
}